@import url(https://fonts.googleapis.com/css?family=Montserrat);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}

.bq1 {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: top;
  scroll-snap-align: start;
}
.bq2 {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
}
.bq3 {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
}

.bqcontainer {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

h1 {
  color: white;
  text-align: center;
  font-size: 5vh;
  line-height: 1.4;
}
h2 {
  color: white;
  text-align: center;
  font-size: 2vh;
  line-height: 1.4;
}

.bqh {
  display: block;
  justify-content: center;
  align-items: center;
}
.bqh1 {
  display: block;
  justify-content: center;
  align-items: center;
  margin-top: 20%;
}

.bqlink {
  color: white;
  text-align: center;
  font-size: 2vh;
  line-height: 1.4;
  display: block;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.bq1 {
  background: url(https://abadiez.com/bq1.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
}
.bq2 {
  background-image: url(https://abadiez.com/bq2.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
}
.bq3 {
  background-image: url(https://abadiez.com/bq5.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
}

/* ===== MEDIA QUERIES=====*/
@media screen and (min-width: 768px) {
  .bqh1 {
    margin-top: 100px;
  }
}
